/* Write your CSS code here */
.Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.logoContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.logo {
  width: 32px;
  height: 32px;
}
.logoName {
  font-family: 'roboto';
  font-size: 25px;
  font-weight: bold;
  color: #6d396b;
  margin-left: 20px;
}
.ulContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  list-style-type: none;
  align-self: flex-end;
}
.listItem {
  font-family: 'roboto';
  font-size: 25px;
  font-weight: bold;
  color: #6d396b;
  margin-left: 20px;
}
